[2017-05-22 12:15] rahiel opened #1 "output statistics as json"
Cool project!

Could you add an option to output the statistics as json? I'd like to parse/use the data in another program.

[2017-05-22 23:22] ofek commented on #1
2.0.0 is out now! https://github.com/ofek/pypinfo/commit/48cee3617b4a4e243172e7327dfd9c56dc9d4f0e

[2017-05-22 23:22] #1 closed

[2017-06-15 08:06] runfalk opened #4 "Try to filter out mirror and bot downloads by default"
Hi,

I tried your project and thik it's really cool. I maintain a small project with few download. When I queried the dataset for the last year it said 20k downloads. This most likely includes spiders and PyPI mirrors. For this to be useful for smaller projects it would be great to try and filter these things out by default.

I for instance have downloads from Python version 1.17, which does not s

[2017-06-15 16:13] ofek commented on #4
@runfalk Thanks for your interest! I don't think mirrors are considered [https://pypi.python.org/mirrors](https://pypi.python.org/mirrors). As far as incorrect or unknown data, I think that might be outdated versions of `pip`.

@dstufft Would you mind weighing in?

[2017-06-15 16:18] dstufft commented on #4
It can be mirroring clients, or it can be OS level clients, or it can be outdated versions of pip. ``details.installer.name`` will tell you what we think it is, given what information is available (bandersnatch being the most common mirroring tool).

[2017-06-15 22:27] runfalk commented on #4
Okay, so here's the case for my library:

[code]

At least `bandersnatch` and `z3c.pypimirror` are mirrors here. Looking at Flask there does not seem to be many other obvious ones:

[code]

[2017-06-15 22:42] ofek commented on #4
You can also use `--json` to manipulate the data as you wish.

[2017-06-16 08:07] runfalk commented on #4
Oh, I know I can manipulate it. I just figured that it could be a good thing to maintain a list of known mirrors to avoid them affecting the result. When I tried it for my library I got a false sense of _"Wow! That many are using this?"_. It turned out that ~2000/20000 were possible real downloads.

There could be an option `--include-mirrors` to bring them back. Would you be interested in a PR fo

[2017-06-16 18:49] ofek commented on #4
Is a download from a mirror not 'real'?

[2017-06-17 22:11] runfalk commented on #4
It's real in the sense that it's a download. However, it doesn't provide any insight to your user demographics. Knowing that my package was mirrored 18000 times in a year doesn't mean my package was even tried out by anyone. It's most likely someone making a full mirror of PyPI.

I can't think of a use case where mirror downloads provides useful information about a project.

[2017-06-24 13:19] rahiel commented on #4
Filtering out mirror/bot downloads shouldn't be done *by default*. Pypinfo is a tool to get download statistics from biquery, it shouldn't judge the data by filtering stuff by itself, this should be left to the user.

The filtering is still useful if you want to know how many actual user downloads a package gets, so an optional flag makes sense. I'm filtering out these clients:
[code]

[2017-06-24 13:44] ofek commented on #4
If one does `pip install ...` is there any chance the installer would show not pip?

[2017-06-24 13:52] rahiel commented on #4
Pip properly [sets its user agent](https://github.com/pypa/pip/blob/a24c59fc2746cb39117a3e3fac3b6736df1acd58/pip/download.py#L64), I guess pypi parses it . So I think no.

[2017-06-24 14:10] ofek commented on #4
@rahiel Ok ty.

If anyone wants to submit a PR I'll gladly accept a `--pip` pip-only flag or a `--real` flag that ignores certain installers.

[2017-06-24 16:50] dstufft commented on #4
If you're using a sufficiently old pip yea I think so, like.. <1.4 I think? Whatever it is, it's several years old by now.

[2017-08-24 22:19] nschloe opened #5 "SyntaxError: invalid syntax: headers, *data = rows:"
I just pip-installed and I'm getting
[code]

[2017-08-24 23:24] ofek commented on #5
@nschloe Thanks for your interest! Only Python 3 is supported; I'll make this more explicit in the docs.

Do `pip3 install --user pypinfo`

[2017-08-24 23:30] #5 closed

[2017-08-25 07:21] nschloe commented on #5
The main README still says
[code]
when really it should be
[code]

[2017-08-25 07:29] nschloe opened #6 "wrong installation hints"
Well...

First off, which of

 * API key
 * OAuth client ID
 * Service accout key

do I choose? I suppose _Service account key_ since this is the only one that takes me to another screen with _role_ in it. There's no such rule as _BigQuery User_ however.

[2017-08-25 16:55] ofek commented on #6
In [link for step 4](https://cloud.google.com/storage/docs/authentication#generating-a-private-key) it says `3. Select Service account key.`.

[2017-08-25 16:58] ofek commented on #6
@nschloe You don't see this?

![gcp](https://user-images.githubusercontent.com/9677399/29724043-07e0c81a-8995-11e7-9c75-dfaf700f29fb.PNG)

[2017-08-26 03:37] ofek commented on #6
@nschloe Is it working for you now?

[2017-08-26 11:00] nschloe commented on #6
No, I don't see BigQuery:

![bq](https://user-images.githubusercontent.com/181628/29740772-6f6e2fda-8a5e-11e7-9396-dc024bde8218.png)

[2017-08-26 11:05] nschloe commented on #6
Okay, I removed all accounts and keys and started all over. It appears to work now.

[2017-08-26 11:05] #6 closed

[2017-09-19 20:10] bskinn opened #7 "Service account credentials & BigQuery API activation instructions appear out of date"
I think the README instructions on enabling BigQuery for the service account are out of date.  I didn't see any way to activate BigQuery access during the credential generation process.

As best I can tell, what worked for me was setting the following in the Google Cloud project settings:

1) In `IAM & Admin` > `IAM`, add the newly created service account/credential to the permissions list, and gi

[2017-09-19 20:12] ofek commented on #7
Please let me know if reading this helps https://github.com/ofek/pypinfo/issues/6

[2017-09-19 20:21] bskinn commented on #7
Hmm. I have another G Cloud account on there that I don't want to remove, though, so I wouldn't be able to fully repeat what nschloe did.

I do have it working, though, giving `Owner` permissions to the credential is probably overkill.

[2017-09-19 20:22] bskinn commented on #6
@nschloe Did you previously have Google Cloud accounts? I encountered the same thing, where BigQuery didn't show in the Roles list, and I had a G Cloud account from a year and a half or so lying around.

[2017-09-19 20:25] bskinn commented on #7
Weird, BigQuery shows up in the Roles list now:

![image](https://user-images.githubusercontent.com/11325439/30613689-0464c116-9d57-11e7-8ded-36b282abaf1b.png)

It wasn't there before.

[2017-09-19 20:27] bskinn commented on #7
I'mma call this a `no repro` and stop pestering you.

Thanks much for the reply.

[2017-09-19 20:27] #7 closed

[2017-09-19 20:27] nschloe commented on #6
@bskinn Indeed.

[2017-09-19 20:29] bskinn commented on #6
@nschloe Weirdly, BigQuery [showed up in the Roles list](https://github.com/ofek/pypinfo/issues/7#issuecomment-330663365) for the project permissions after a while.

Maybe it just takes G Cloud longer to propagate all the possible roles into a new project, if an old project already existed in the overall G Cloud account?

Is weird.  Got it working, though - woot!

[2017-09-19 20:41] ofek commented on #7
@bskinn Can you please try the updated instructions? step 4

[2017-09-19 20:59] bskinn commented on #7
Can't repro. BigQuery shows up now both if I try to create a new credential on my current `pypinfo` project, *and* on trying to create a new credential in a new project.

I'm guessing there was just some internal lag on Google's end before BigQuery showed up as a role option.  See #8.

[2017-09-29 19:52] bskinn opened #10 "Automatically insert argument to "--order" into the "fields" list, if it's not already present"
If `pypinfo` is called with an `--order` argument, but the corresponding field is not present in the list of fields provided after the desired package name, the BigQuery API complains:

[code]

Whereas everything's fine when the field is explicitly passed:

[code]

Perhaps a check should be added for the presence of the `--order` argument in the `fields` list, with the sort field added to `parsed_

[2017-09-30 02:32] ofek commented on #10
Fixed in 4.0.0, well done!

[2017-09-30 03:11] bskinn commented on #10
Oh... this is actually a separate issue from the field name translation addressed by the pull request. Fixing this, if desired, would involve actively injecting the field name of the `--order` cl arg into the list of fields to display. I wasn't sure if this would be a desired
behavior so I opened an issue on it.

[2017-09-30 03:14] bskinn commented on #10
@ofek Thanks! This is my first accepted PR with real code involved so I'm pretty excited to see it merged. :-)

[2017-09-30 03:15] ofek commented on #10
Sorry, re-opened! I'll check this out Monday.

[2017-10-11 16:36] alanbernstein opened #11 "Support a Python API"
I would like to use this within a Python application rather than CLI. I've created a callable function modeled after pypinfo.cli.pypinfo, that returns the result rows. This works for me, but I wonder if you have better ideas about how to design that.

[2017-10-11 17:21] ofek commented on #11
@alanbernstein I'd just call the CLI via subprocess. There is also a `--json` flag.

[2017-10-11 17:21] #11 closed

[2017-10-16 20:46] hugovk commented on #4
Here's a PR for a `--pip` flag: https://github.com/ofek/pypinfo/pull/15.

[2017-10-16 22:27] ofek commented on #4
@hugovk Thank you!

[2017-10-16 22:27] #4 closed

[2017-10-16 22:35] ofek opened #17 "add @rahiel to authors"
@rahiel Please add yourself to https://github.com/ofek/pypinfo/blob/master/AUTHORS.rst

[2017-10-16 22:35] ofek opened #18 "add @bskinn to authors"
@bskinn Please add yourself to https://github.com/ofek/pypinfo/blob/master/AUTHORS.rst

[2017-10-16 22:35] ofek opened #19 "add @hugovk to authors"
@hugovk Please add yourself to https://github.com/ofek/pypinfo/blob/master/AUTHORS.rst

[2017-10-17 14:21] #19 closed

[2017-10-17 14:55] #18 closed

[2017-10-18 14:57] #17 closed

[2017-10-28 09:10] giampaolo opened #25 "Enforce "python 3 only" in setup.py"
It is currently possible to install this package on Python 2 (via pip). It breaks when `pypinfo` is invoked from cmdline thought. I think `setup.py` should detect the Python version at runtime and prevent installing.

[code]

[2017-10-28 14:06] hugovk commented on #25
See PR #26.

[2017-10-28 20:29] #25 closed

[2017-11-05 00:03] aaronduino opened #27 "'Client' object has no attribute 'run_sync_query'"
First of all, thank you so much for building this package.
I'm excited to start using it, but it has been crashing for me on every query run:

[code]

I tried python2, updating gcloud, etc. to no avail.

[2017-11-05 00:48] ofek opened #28 "Use standard SQL"
https://cloud.google.com/bigquery/docs/reference/standard-sql/migrating-from-legacy-sql

[2017-11-05 01:47] #27 closed

[2017-11-05 01:53] aaronduino commented on #27
Thanks

[2017-11-05 01:54] ofek commented on #27
This is fixed in `6.0.0`, thank you! Google released a new version of their BigQuery lib.

[2017-11-09 07:10] hugovk opened #30 "How to check current BigQuery usage"
Whilst making https://github.com/ofek/pypinfo/pull/29 I got this:
[code]

I can't find how much of my free monthly TB I've used up on the Google console.

After some digging in the console I found this:

![image](https://user-images.githubusercontent.com/1324225/32591962-4e8e8b32-c52a-11e7-9987-1b423363c726.png)

https://console.cloud.google.com/home/activity?project=pypinfo-hugovk&authuser=1

Lin

[2017-11-09 07:32] ofek commented on #30
I'll look into this, thanks!

[2017-11-15 13:23] hugovk commented on #30
Well, it carried on working a few hours later. I read somewhere (Stack Overflow?) that it's a rolling quota and will be replenished after some time. Still, it'd be nice to know where to check the actual quota at Google :)

I wonder, is it possible to show the amount of data a query makes, and possibly the remaining quota, when running?

[2017-11-15 13:54] hugovk opened #31 "ModuleNotFoundError: No module named 'google.api_core'"
FYI, this is a Google problem, I've reported it here: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4395.

Short version:

[code]

Longer version:

After having done a recent `pip3 install -U pypinfo`:

[code]

[2017-11-15 19:25] ofek commented on #31
No worries, thanks!

[2017-11-27 09:14] noxdafox opened #32 "ImportError: cannot import name 'opentype'"
From a fresh install

[code]

[2017-11-27 09:37] hugovk commented on #32
In case this helps, I have these modules on Python 3.6.3 and it's working:

[code]

Also after `pip install -U pypinfo`:

[code]

[2017-11-27 09:52] hugovk commented on #32
I triggered a build of PR #23, which successfully ran `pypinfo --help` for Python 3.5 (and 3.6 and pypy3):

https://travis-ci.org/hugovk/pypinfo/builds/307807783

You can see which libraries are installed for Python 3.5 on the CI:

https://travis-ci.org/hugovk/pypinfo/jobs/307807786#L526

Please can you check which versions you have of the Google libraries and pyasn1-modules?

We might need to add

[2017-11-27 09:58] noxdafox commented on #32
These are the installed libraries.

[code]

It's a fresh Debian Stretch installation (minimal).

[2017-11-27 10:16] hugovk commented on #32
Those are the same as mine (macOS High Sierra) and Travis CI (Ubuntu Trusty). Does `pip3 install -U pypinfo` make any difference?

If not, have a look through https://github.com/etingof/pyasn1-modules/issues/10 which is likely the cause.

[2017-11-27 11:15] noxdafox commented on #32
Yes, uprading to pyasn1 0.4.2 solved the issue. Probably the version restriction requires a bump.

Thanks for the swift help!

[2017-11-27 11:15] #32 closed

[2017-11-27 11:30] hugovk commented on #32
pyasn1 isn't a direct dependency of pypinfo, it's something like pypinfo > google-cloud-bigquery > google-cloud-core > google-auth > pyasn1-modules > pyasn1.

Anyway, good you got it working and we know what to do if someone else runs in to it!

Perhaps we wait a bit for that dependency chain to sort themselves out (I'm not sure exactly where it comes from), or if this continues to be a problem pe

[2018-01-01 21:48] ianamason opened #34 "Syntax error?"
So I got through the relatively painless google sign up bit.
Did a successful pip install then this happens:
[code]
Is this user error?

[2018-01-01 21:49] #34 closed

[2018-01-08 20:49] hugovk opened #35 "google-cloud-bigquery 0.29.0: AttributeError: 'QueryJob' object has no attribute 'query_results'"
I upgraded google-cloud-bigquery and get `AttributeError: 'QueryJob' object has no attribute 'query_results'`.

This also happens when installing pypinfo in a fresh environment.

Downgrading back to the previous 0.28.0 works.

[code]

## Upgrade to google-cloud-bigquery==0.29.0

[code]
[code]
[code]

## Downgrade to google-cloud-bigquery==0.28.0

[code]
[code]
[code]

[2018-01-09 01:05] #35 closed

[2018-01-09 01:07] ofek commented on #35
Thanks!

[2018-01-17 17:12] bskinn commented on #30
@hugovk I'm pretty sure there's a daily cap, in addition to the monthly quota. Every time I've gotten this error back from BigQuery, `pypinfo` has worked fine when I've tried it the next day.

No clue how to query the quota info, though. :-/

[2018-01-17 18:30] hugovk commented on #30
That's also consistent with a rolling quota, meaning the quota applies to the month up to now. If you reach the limit, just wait a few hours and you'll get some more quota. No need to wait until the first (or whenever) of the month.

I've not found the quota page, but I have found one that shows how many bytes each query takes. I have it open on another computer and will post here next time I'm us

[2018-01-18 14:56] evyatarmeged opened #39 "Inconsistent results"
Any known reason why or how the total download count could decrease between calls ? I've had my download count drop more than once on different `pypinfo` calls a few days apart from each other.

[2018-01-18 15:00] hugovk commented on #39
The defaults are to check the downloads of the previous 30 days.

For example:
[code]

The downloads during the `a` days could be more than the downloads during the `b` days.

[2018-01-18 15:14] ofek commented on #39
@hugovk is correct; a moving windowed total is expected to change :)

[2018-01-18 15:14] #39 closed

[2018-01-18 15:41] hugovk commented on #30
Visit a page something like this, replace `TODO_YOUR_PROJECT_HERE` with your Pypinfo project name you chose in step 3 of the README:

https://console.cloud.google.com/home/activity?c=Configuration,Data_Access,Development,Monitoring,Platform,Recommendation&project=TODO_YOUR_PROJECT_HERE&authuser=1

On the filter on the right, make sure your project is selected in the dropdown, and enable all catego

[2018-01-18 15:45] evyatarmeged commented on #39
Alright, thanks guys.

[2018-01-26 17:56] aishgrt1 commented on #27
I am using it using Ananconda, but still shows the same error for me. I have the updated version of the Google Big Query:

AttributeError: 'Client' object has no attribute 'run_sync_query'

[2018-01-26 18:05] ofek commented on #27
@aishgrt1 Can you please show me the output of `pip freeze`?

[2018-01-26 20:56] aishgrt1 commented on #27
These are the google related packages are:
google-api-core           0.1.1                    py36_1    conda-forge
google-api-python-client  1.6.4                      py_0    conda-forge
google-auth               1.2.1                      py_0    conda-forge
google-cloud-bigquery     0.29.0                     py_0    conda-forge
google-cloud-core         0.28.0                     py_0    cond

[2018-01-26 21:10] ofek commented on #27
I need to see the version of pypinfo.

[2018-01-27 00:06] aishgrt1 commented on #27
There is no package called pypinfo

[2018-01-27 00:27] aishgrt1 commented on #27
8.0.0

[2018-01-27 02:55] ofek commented on #27
Do `pypinfo --version`

[2018-01-27 03:27] aishgrt1 commented on #27
it's 8.0.0

[2018-01-27 04:03] aishgrt1 commented on #27
['SCOPE', '_SET_PROJECT', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_call_api', '

[2018-01-27 05:03] aishgrt1 commented on #27
the "run_sync_query" has been changed to "query" in 0.29.0 version

[2018-01-27 05:21] ofek commented on #27
The error implies pypinfo<6.0.0 but I don't know how that is possible.

[2018-01-29 02:31] ofek commented on #27
Try re-installing pypinfo.

[2018-02-04 15:23] ofek commented on #30
I added these stats just now in `9.0.0` :slightly_smiling_face:

Though, I still can't find a way to see one's remaining free quota.

[2018-02-04 16:28] #10 closed

[2018-02-04 16:34] ofek commented on #10
Fixed in `10.0.0`!

[2018-02-06 20:49] marcoskirsch opened #40 "--json option prints more than JSON"
I was hoping to use the output of the script to spit out JSON I can bring in later. I invoke this way:

[code]

File `/foo.json` doesn't contain valid JSON because there's some stuff before it:

[code]

Workaround is to strip everything before the first `[`. Something like:
[code]

[2018-02-06 21:45] hugovk commented on #40
That'll be from https://github.com/ofek/pypinfo/commit/7a21b81b9d1e225ce39c59361537c5e1c6c2d3d3, added in 9.0.0, and shouldn't be hard to fix.

In the meantime, another workaround is to install version 8.0.0.

[2018-02-06 23:00] ofek commented on #40
This was an oversight on my part. I'll fix this tonight!

[2018-02-07 00:39] ofek commented on #40
Fixed in `11.0.0`

[2018-02-07 00:39] #40 closed

[2018-02-18 13:14] nedbat opened #43 "Can we get stats about which files were downloaded?"
Coverage.py provides dozens of files: https://pypi.python.org/pypi/coverage/  I would like to see which of these are being downloaded.  Did I miss an option that would show this?

[2018-02-18 13:17] ofek commented on #43
I'll look into a way to do this today or tomorrow. Thanks!

[2018-02-18 13:43] ofek commented on #43
@nedbat Added in ` `. Sooner than expected :slightly_smiling_face:

[code]

[2018-02-18 13:49] #43 closed

[2018-02-18 16:12] nedbat commented on #43
Amazing, thanks! :)

[2018-03-08 22:27] dmtucker opened #45 "--where ignores project"
These match because `--where 'file.project = "project"'` gets silently overridden:
[code]
[code]
This isn't a huge deal other than there isn't really a reason to even accept `project` in these cases.

Maybe it'd be better to tell people to run `--where 'file.project = "project"'` themselves or to work in an `AND` on custom `--where`s:
[code]

`--order` is affected by the same issue.

[2018-03-08 22:30] ofek commented on #45
Thanks David, I will fix this soon!

[2018-05-12 23:28] raamana opened #46 "Exact definition for the download count"
Hi There,

thanks for this package, very helpful. It's unclear to me **_exactly_** what is being output by this tool? Is it a sum of download counts from various sources? How does that differ from "pip only" option `-p`? Is there a way to get unique download count etc? Some more details would be helpful.

The default output for my packages is almost 6-10 times higher than if use the `--pip` option

[2018-05-13 02:52] gaborbernat opened #47 "feature request - trend support"
Hello,

It would be great to be able to tell project tendencies. E.g are my monthly usage going up or down? This is already possible with playing around the start and end date, but what about providing a builtin way of this, that does not require shell scripting it?

[2018-05-13 04:54] hugovk commented on #46
It's all downloads logged by PyPI. By default, that also includes mirrors, other clients or very old pip. By far the biggest will be mirrors, you can check with `installer`.

See https://github.com/ofek/pypinfo/issues/4.

It would be good to add something about this to the README.

[2018-05-13 14:39] ofek commented on #46
I'd really like to have `--pip` be the default behavior in the next release with a new `--all` to match the current default behavior.

@hugovk Are you fine with that?

[2018-05-13 14:51] raamana commented on #46
Thanks for the info.

May I also suggest changing the default time window to everything, and not filter it within the last 30 days? Most devs (of not-crazily-popular packages) care about that, I think.

[2018-05-13 14:56] raamana commented on #46
I am also running into errors when specifying time-window, throwing a quota error. When I run it without any time windows, it does return some results without error, making me think its not a issue of quotas. What's going on?

Also, what is `Browser` here, which is appearing as an installer? Count of tarball download over the browser?

[code]

[2018-05-13 15:00] ofek commented on #46
@raamana I will definitely not make that the default as that takes a while to execute and those queries may incur unexpectedly large costs (as your example shows :slightly_smiling_face:). You'll have to wait until you get more free quote (a few days perhaps) or you enable billing.

[2018-05-13 15:06] raamana commented on #46
I did enable billing.. web interface says "You have $384.24 in credit and 362 days left of your free trial.
", so not sure why I get errors.

[2018-05-13 15:08] raamana commented on #46
Does that mean the option "-d 999" will cost me more than $380?

[2018-05-13 15:30] raamana commented on #46
thanks @ofek.. they started working again (seems like my fiddling of the billing account worked)

can you point me to more details on what the different installers are? I think `None` refers to older versions of pip (as noted in #4, which are legitimate installs right?) and am curious about `Browser` and `requests` installers, which do have a high count for my packages.. thanks.

[code]

[2018-05-13 15:48] raamana commented on #46
thanks Ofek, that's what I thought, just wanted to double check.

I simply can't imagine why my target user (not professional software developers), esp. over 200 of them, would use `requests` to get the package and manually install it, when `pip install` is so much easier? Assuming the clones performed the CI servers are counted under `pip`, the counts for `Browser` and `requests` seem very high t

[2018-05-14 10:01] hugovk opened #48 "Allow YYYY-MM-DD dates in --start-date and --end-date"
It'd be handy to be able to use `YYYY-MM-DD` dates as the start and end date. For example:

[code]

Rather than having to work it out:

[code]

It wouldn't necessarily have to reuse `--start-date` and `--end-date`, but that's probably clearest and easiest (if not negative integer, it's a date).

What do you think?

[2018-05-15 17:36] #48 closed

[2018-05-16 19:18] raamana commented on #46
Any comments @ofek and @hugovk on my above question? I want to be sure I estimate the install/download counts with < 5-10% error

[2018-05-16 20:26] hugovk commented on #46
I've no idea, but it's not necessarily only your target user downloading stuff.

The requests library is used a lot for all sorts of things, it may be used by the mirror services or anything really.

You can add `--test` to the pypinfo call to see the query it uses, and then use that to query BigQuery in another way to see if the numbers are different.

[2018-05-21 10:10] hugovk commented on #46
Please see PR #51.

[2018-05-21 14:36] #46 closed

[2018-07-06 09:13] hugovk commented on #47
I'm not sure if it belongs as part of pypinfo, and it'll burn through a lot of quota, but I've made a wrapper around pypinfo to do something like this. (I'd be happy to contribute it or parts of it here, if that makes sense.)

See:
* https://github.com/hugovk/pypi-tools
* https://medium.com/@hugovk/python-version-share-over-time-cf4498822650

Examples of further processing of downloaded data:

![i

[2018-09-10 12:06] richard-scott opened #58 "RuntimeWarning for numpy"
Hi,

I get this error even when running no command args:

[code]

[2018-09-10 12:12] richard-scott commented on #58
ah, I was running numpy 1.15.0, and updated that to 1.15.1 and the error went away :-)

[2018-09-10 12:12] #58 closed

[2018-09-14 14:18] syhooper opened #59 "YYYY-MM-DD dates issue in --start-date and --end-date"
I noticed that the date issue has been fixed in #49. However, I still can't use dates. Please see below. Could you please let me know how to use the start and end dates properly? Thanks!

[code]

[2018-09-14 15:11] hugovk commented on #59
Hello!

`YYYY-MM-DD` dates were added in https://github.com/ofek/pypinfo/pull/49 but it hasn't been released yet.

In the meantime, you can install the latest development version:

[code]

---

@ofek, please could you make a new release?

I'll also add version tags to Git which might help make things clearer too.

[2018-09-17 13:27] #59 closed

[2018-09-25 20:57] ofek commented on #59
Sorry for the wait https://pypi.org/project/pypinfo/15.0.0

[2018-10-18 16:37] tomduck opened #60 "Target for "Generating a Private Key" is missing"
Hi there.  The installation instructions in your README includes the following link in step 5:

https://cloud.google.com/storage/docs/authentication#generating-a-private-key

This target does not appear to exist.  As such, I am unsure how to "create credentials in JSON format."

Thanks,
Tom

[2018-10-18 16:58] ofek commented on #60
Hmm, thanks! Maybe they moved it here? https://cloud.google.com/iam/docs/creating-managing-service-account-keys#creating_service_account_keys

cc @hugovk

[2018-10-18 17:20] hugovk commented on #60
I set up a new one only a couple of weeks ago, and didn't notice anything much different from the instructions, though the Google interface is not that welcoming.

But that looks about right. I could get to the "Create key" > JSON step with this:

---

![image](https://user-images.githubusercontent.com/1324225/47171906-a96a7b00-d312-11e8-8743-4510bd42eb3b.png)

[2018-10-18 17:51] hugovk commented on #60
I just created a new project and got the JSON. Do these steps help?

# Create project

Create a project at https://console.developers.google.com/cloud-resource-manager

---

Goes to https://console.developers.google.com/projectcreate

---

---

Fill in and click create. The next page showed my old project, but reloading let me select it from the top menu:

https://console.developers.google.com/hom

[2018-10-18 18:36] tomduck commented on #60
It works!  Thank you.  I am grateful for this help.

There is only one step that I had trouble with.  When I created the project, there was no way I could find to get to the "dashboard" that you show.  Instead, I was on the "IAM" screen.  No matter.  I was able to complete the rest of the steps regardless.

[2018-10-18 18:57] ofek commented on #60
@hugovk Thank you very much! Pretty please can you submit a PR to update the docs? 🙏

[2018-10-18 19:13] tomduck commented on #60
Will do.

[2018-11-07 09:23] thorade opened #61 "new option start-month (or: allow incomplete date YYYY-MM)"
This is possibly related to #47 as well as #48.

I would like to have statistics for each month, and this is achievable throught `--start-date` and `--end-date` options, but for convenience it would be nice to be able to just specify the month like 2018-10.

This could be either done using a new option `--start-month` or by allowing a start-date without the DD, that is automatically extended to fi

[2018-11-07 10:19] thorade opened #62 "error if 0 downloads"
The following works:
[code]
| download_count |
| -------------- |
|              0 |

But then this fails:
[code]

[2018-11-07 10:41] hugovk commented on #61
Sounds useful to me.

So if start-date is 2018-10, end-date would be set to 2018-10/2018-10-31?

And in other cases, if start-date is 2018-10-01 or -5, end-date is left to the default?

[2018-11-07 10:50] thorade commented on #61
Yes, I think you have it exactly right. So, the end-date default would depend on the start-date format. Not sure whether that is nice.

[2018-11-10 22:42] CKVB opened #63 "PermissionError[13]"
[REDACTED]

[2018-11-10 23:06] #63 closed

[2018-11-19 22:17] fhoffa opened #64 "Use clustered BigQuery tables for 95% improvements in querying costs"
I create daily new tables that heavily improve the costs of going to BigQuery. `pypinfo` could use them:

- https://towardsdatascience.com/python-pypi-stats-in-bigquery-reclustered-d80e583e1bfe

(goes from 200GB queries to 10GB queries)

[2018-11-30 14:05] Andre0512 commented on #60
Please update! I tried the readme and it took me a while to find this.

[2018-12-04 15:09] hugovk commented on #60
Will do, in the meantime here's a very quick PR to temporarily link the README to https://github.com/ofek/pypinfo/issues/60#issuecomment-431102204.

[2018-12-08 23:18] #60 closed

[2019-01-15 18:56] raamana opened #70 "breakdown by installer now shows only pip"
Hi There,

Compared to the results returned in Aug 2018, my trials today with pypinfo returns download count for pip only. Is this expected or a bug? What happened to other installers? how can I get a count that's as comprehensive as possible? Thanks.

Also, what's the easiest/fastest way to obtain all-time download count for a particular package (entire life-time)?

download counts for `neuropred

[2019-01-15 19:08] ofek commented on #70
https://github.com/ofek/pypinfo/pull/51

[2019-01-15 20:36] raamana commented on #70
thanks.

[2019-01-15 20:36] #70 closed

[2019-03-18 21:13] hugovk commented on #61
Please see PR #71 which lets you do this:

[code]

[2019-05-13 03:46] jayvdb opened #73 "Non-normalised package name"
I would like to use the data to correlate with openSUSE package names, which use the 'real' name supplied in setup.py, i.e. not-normalised.

I've been doing a bit of research at hugovk/top-pypi-packages#4 and https://github.com/psincraian/pepy/issues/128, and the raw data from bigquery can include this, with a very small perf hit.

The query only needs to change from selecting `file.project` to `s

[2019-05-13 03:48] jayvdb commented on #28
Is there any reason to not do this?

[2019-05-13 04:02] ofek commented on #28
Nope, just not enough time!

[2019-05-13 04:05] ofek commented on #73
Hello there!

I'm unsure of the cost implications of this. Though, I'll approve whatever @hugovk thinks is best 🙂

[2019-06-06 16:24] Ruturaj4 opened #74 "Web api availability"
Is there a web api available?

So, that I can download or query the json directly from there.

Note: I followed all the steps given in the doc to create a bigquery project. I can use the tool on command line and I know that I can use `--json` flag to get the json response.

[2019-06-07 08:00] hugovk commented on #74
The web API would be to call Google BigQuery directly.

See https://packaging.python.org/guides/analyzing-pypi-package-downloads/ and its links.

[2019-06-08 13:30] #74 closed

[2019-10-05 19:21] Physsix27 opened #77 "Increase Tests Coverage"
Increase test coverage writing test scripts for the rest of the python files missing.
I will be adding tests scripts for

[2019-10-07 06:38] #61 closed

[2019-10-08 18:12] JakobDev opened #78 "Installation failed: AttributeError: '_NamespacePath' object has no attribute 'sort'"
When I  try to install pypinfo, this happens:
[code]

[2019-10-08 20:01] hugovk commented on #78
Please can you do this and then try again?

[code]

(Suggested at https://github.com/googleapis/google-cloud-python/issues/2990)

[2019-10-20 13:52] ofek commented on #73
@hugovk

[2019-10-20 15:20] hugovk commented on #73
I don't know the cost implications, I guess the best way is to test it out.

If it costs more, I'd suggest adding a switch to include the change. I'm nearly always out of quota.

[2019-10-20 16:30] jayvdb commented on #28
Ok, I'll try this first, and we'll find out if it costs more, then we can try https://github.com/ofek/pypinfo/issues/73.

[2019-11-05 18:52] JakobDev commented on #78
Upgrading setuptools was the solution. Thanks!

[2019-11-05 18:52] #78 closed

[2019-11-08 12:12] minhoryang opened #82 "Extra package (requests[security]) won't worked."
[code]

[2019-11-08 12:13] minhoryang commented on #82
[code]

[2020-02-15 14:07] hugovk commented on #82
Put `requests` without the `[security]` extra:

[code]

[2020-02-16 06:48] #82 closed

[2020-05-05 03:20] Pacidus opened #88 "sytematic error when i use --auth"
When i run  ``` pypinfo --auth key.json ``` with the BigQuery key i have the given answer :

[code]
There is probably something about tinydb package

[2020-05-05 03:53] ofek commented on #88
@Pacidus Thanks!

@hugovk Mind taking a look? I'm not feeling very well.

[2020-05-05 09:03] hugovk commented on #88
Sure, will check it later.

[2020-05-05 12:54] hugovk commented on #88
It's working for me:
[code]
My JSON file is of this format:
[code]
Is your JSON similar to this?

And what do you get when running this?

[code]

I get:
[code]

[2020-05-05 12:59] hugovk commented on #88
And you were right, it is something in tinydb: `pip install "tinydb<4"` is a workaround for now.

[2020-05-05 13:29] hugovk commented on #88
Or rather, tinyrecord isn't yet compatible with the tinydb's breaking changes. I've reported it at https://github.com/eugene-eeo/tinyrecord/issues/11.

Shall we wait a bit for a fix, and then release with deps `tinydb>=4` and `tinyrecord>=[the fixed version]`?

And if there's no fix for a while, we could make a workaround release with `tinydb<4`?

[2020-05-05 19:07] Pacidus commented on #88
Thanks this solved the error.

[2020-05-08 15:11] #88 closed

[2020-06-23 04:01] SHREYAS1188 opened #95 "System Error: Credentials could not be found"
Error: Credentials could not be found

![Screenshot (402)](https://user-images.githubusercontent.com/47130139/85359566-3e843500-b534-11ea-8a8b-06e90dfbf694.png)

[2020-06-23 07:18] hugovk commented on #95
Did you follow the installation guide?

https://github.com/ofek/pypinfo#installation

[2020-06-26 14:37] SHREYAS1188 commented on #95
ok got it

[2020-06-26 14:37] #95 closed

[2020-07-13 13:38] vsajip opened #97 "Fresh installation - first query fails with an exception"
I just created a brand-new venv `pypistats` and installed `pypinfo` into it. Running a query from the examples results in an exception:

[code]

[2020-07-13 15:12] hugovk commented on #97
Here's a workaround:

[code]

Please could you try that?

---

We should make a new release of pypinfo too.

Background:

There had been a new release of dependency TinyDB (v4), but another dependency Tinyrecord didn't yet support the new TinyDB so we pinned TinyDB to <4 (https://github.com/ofek/pypinfo/pull/89).

There's since been a new release of Tinyrecord (v0.2.0) that supports TinyDB v4, but

[2020-07-13 22:09] ofek commented on #97
@hugovk Can you release and I'll upload it?

[2020-07-14 06:29] hugovk commented on #97
Yes, the last release was 16.0.1, should this be 16.0.2 or 17.0.0?

Take your pick from these PRs :)

* https://github.com/ofek/pypinfo/pull/98: 16.0.2
* https://github.com/ofek/pypinfo/pull/99: 17.0.0

[2020-07-14 16:33] ofek commented on #97
https://pypi.org/project/pypinfo/16.0.2/

[2020-07-14 16:33] #97 closed

[2020-07-14 16:34] ofek commented on #77
https://github.com/ofek/pypinfo/pull/100

[2020-11-02 20:56] tswast commented on #64
This schema is now used for the official tables. I've updated the guide here: https://packaging.python.org/guides/analyzing-pypi-package-downloads/

Most queries required only minor changes to use the new `file_downloads` table and filter by the `timestamp` partition column.

[2020-11-02 21:20] ofek commented on #64
@tswast Thanks for the bump! Would you be open to making a PR? 🙂

[2020-11-27 19:49] garymazz opened #105 "Disclose BigTable Costs in Readme"
After spending a bunch of time setting up the GCP account, and looking at usage, it seems to be very expensive.

After the free tier is consumed and the 90day $300 credit expires, **BigQuery costs $5 per TB of data queried**. Querying the `simple_requests` table which is 49.77 TB would cost **$250 per query**.

A query of the `distribution_metadata` table (18.8GB) would cost **$0.094 per query**.

[2021-01-19 21:07] #64 closed

[2021-01-25 17:24] ribeaud opened #108 "No matching signature for function DATE_ADD for argument types: TIMESTAMP, INTERVAL INT64 DATE_TIME_PART"
Hi,

After installation following instructions given in the `README.md`, I tried a simplest call:
[code]
Unfortunately getting following exception:
[code]
Using the SQL query in the **BigQuery** SQL workspace pops up the same error message if I use the _public PyPI download statistics dataset_.

My environment:
[code]

[2021-01-25 17:36] ofek commented on #108
@tswast @hugovk

[2021-01-25 18:53] tswast commented on #108
Strange. I thought I'd tested that. I might have to switch to [TIMESTAMP_ADD](https://cloud.google.com/bigquery/docs/reference/standard-sql/timestamp_functions#timestamp_add)

[2021-01-25 18:54] hugovk commented on #108
Can reproduce with `pypistats requests`.

I have run it successfully lots today, like this, but the key difference the explicit start and end dates:

[code]

Unlike the error case, the query has explicit timestamps:

[code]

The docs at https://packaging.python.org/guides/analyzing-pypi-package-downloads/ has examples with `DATE_SUB`, `DATE_TRUNC`, are they missing `DATE_ADD`?

[2021-01-25 18:56] hugovk commented on #108
Checking the error more closely:

[code]

[2021-01-25 18:57] tswast commented on #108
The docs cast timestamp to date. That'd be another option

[2021-01-25 19:17] tswast commented on #108
For some reason I'm not able to reproduce, but I might be on some internal experiment. Sent https://github.com/ofek/pypinfo/pull/109 to address.

[2021-01-25 20:19] #108 closed

[2021-01-25 20:27] ofek commented on #108
https://pypi.org/project/pypinfo/18.0.1/

[2021-02-05 22:56] tswast commented on #105
These costs got significantly reduced by https://github.com/ofek/pypinfo/pull/107 which uses the clustered tables.

[2021-02-06 06:54] hugovk commented on #105
Yes, that made a huge difference, thanks!

The README has example queries showing costs (PR welcome to rerun and update the data use/estimated cost in output!).

Before this recent improvement, I think the amount of data and therefore cost had been increasing over time, so it would be difficult for us to state the exact cost.

@garymazz Please could you update to the newest release, and if you thi

[2021-02-18 18:18] tswast commented on #28
This was fixed in https://github.com/ofek/pypinfo/pull/107

[2021-02-18 19:43] ofek commented on #28
Thanks!

[2021-02-18 19:43] #28 closed

[2021-03-09 18:41] Brishen opened #113 "Incorrect documentation for projects argument"
Running verison 19 on W10 with powershell, I cannot perform queries on all projects.

A command like `pypinfo --days 365 "" project` will query the package `project` and return

[code]

similar results with any query that uses "" as the project name.

[2021-03-11 23:25] ofek commented on #113
powershell is weird, try: `'""'`

[2021-06-29 02:08] AV25242 opened #114 "Pypinfo Error - 400 FROM clause with table wildcards matches no table"
Hello,

I have been running pypinfo everymonth to download stats and have had no issues untill April

I started seeing this issue 'google.api_core.exceptions.BadRequest: 400 FROM clause with table wildcards matches no table'

Has the underlying table changed?  Also it logs the below query.

Any guidance ?
[code]

[2021-06-29 06:23] hugovk commented on #114
Google has changed the data table and presumably the old one has now been removed.

Please update to the latest pypinfo, this was fixed in https://github.com/ofek/pypinfo/pull/111 and released in the latest version 19.0.0.

[2021-06-29 15:16] AV25242 commented on #114
Thanks @hugovk  for the quick response. Let me update to the latest pypinfo.

[2021-06-29 15:36] AV25242 commented on #114
That worked, closing the issue. Thanks again !

[2021-06-29 15:36] #114 closed

[2021-08-26 07:33] hugovk opened #116 "google.api_core.exceptions.BadRequest: 400 FROM clause with table wildcards matches no table"
Hi Everyone, I am getting this error despite being on the latest version:

[code]

appreciate your help or fix!

_Originally posted by @raamana in https://github.com/ofek/pypinfo/issues/114#issuecomment-905857544_

[2021-08-27 19:34] #116 closed, assigned to nobody

[2021-09-22 02:58] wincent8 opened #122 "Can not find the download counts for project which using wheels"
hi,
    I am try to find download counts for project https://github.com/intel/intel-extension-for-pytorch/, and in its readme, it said it can be install by pip with below command,

`python -m pip install torch_ipex==1.9.0 -f https://software.intel.com/ipex-whl-stable`

but when i use the pypinfo torch_ipex, it shows the count as 0,
anyone meet the similar issue? can anyone help me?
thanks,

[2021-09-22 09:03] hugovk commented on #122
There's no `torch_ipex` project on _PyPI_:

* https://pypi.org/project/torch_ipex/

You're using pip's `-f` option, which tells pip to look at https://software.intel.com/ipex-whl-stable instead of PyPI, and we can see the files are indeed there.

So it's not downloaded from PyPI, the downloads stats aren't counted on PyPI and so pypinfo can't find any. You'd have to get in touch with Intel and ask

[2021-09-22 09:04] #122 closed

[2021-09-22 10:35] wincent8 commented on #122
thanks for the reply.

[2021-10-02 09:05] hugovk commented on #77
Closing this as `cli.py` is intentionally omitted from test coverage, and everything else is at 100%, except `core.py` at 90.21%.

Overall at 94.89%, which is good. Further test coverage welcome, but we don't need an issue to track it.

![image](https://user-images.githubusercontent.com/1324225/135710121-e367c630-3fd8-4c58-8335-c4a0a823fc92.png)

![image](https://user-images.githubusercontent.com/

[2021-10-02 09:05] #77 closed

[2021-10-02 09:12] #113 closed

[2021-10-02 09:17] hugovk commented on #105
Closing due to lack of response, and usage costs are now significantly reduced.

[2021-10-02 09:17] #105 closed

[2021-12-17 09:34] RaminDadou opened #132 "pypinfo"
ofek/pypinfo

[2021-12-17 10:26] hugovk commented on #132
I think you forgot to write a real issue :)

[2021-12-17 10:26] #132 closed

[2022-06-12 03:42] #45 closed

[2022-11-01 21:57] kaos commented on #105
I still think it would be worth mentioning the expected cost of queries, especially when querying over longer time frames.

I was a bit careless and just copied the example SQL from the readme into the BigQuery console, and that cost me $25 for a single query. Ouch. (I didn't pay too much attention to the days argument, and was happy with the LIMIT, but it turns out, the LIMIT has no effect on cos

[2022-11-02 07:26] hugovk commented on #105
Please could you open a PR with something you think would be helpful?

Let's reduce the number of days in that example as well.

[2022-11-02 13:16] kaos commented on #105
I may be able to write something up next weekend.